@import url('./common/css/base.css');

html{
  background-color: #65CCB8;
  color: #F2F2F2;
  
}

.App {
  text-align: center;
  height: 100vh; 
}

.header{
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 40px;

}

.weatherCardContainer{
  max-width: 80%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 260px;
}
