@import url('./common/css/base.css');

body{
  background-color: #65CCB8 !important;
  color: #F2F2F2;
}

.App {
  text-align: center;
  height: 100vh; 
}

.header{
  font-family: 'Archivo';
  font-weight: bold;
  font-size: 40px;

}

.mb-3{
  width: 40%;
  margin: auto;
}

@media(max-width: 1024px){
  .mb-3{
    width: 80%;
  }
}

@media(max-width: 414px){
  .mb-3{
    width: 90%;
  }
}

.weatherCardContainer{
  max-width: 80%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 355px;
}
