.weatherCard{
    color: #F2F2F2;
    width: 240px;
    border: 1px solid white;
    padding: 0px 5px 0px 5px;
    font-size: 28px;
}

.weatherCard > .dayName{
    height: 20%;
}

.weatherCard > .iconContainer{
    height: 65%;
    line-height: 70.8px;
}

.iconContainer > i{
   font-size: 130px;
   padding-top: 15px;
}

.weatherCard > .temperature{
    position: relative;
    height: 15%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
